  <script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
      const text = "Welcome to the newer version of my portofolio. I've learned a lot recently! This web is powered by Astro and Tinacms";
      let index = 0;
      let isDeleting = false;
      const speed = 45; 
      const delayBetweenLoops = 1000;
      const h1Element = document.getElementById('typing-text');

      function typeWriter() {
        const cursor = "|";
        let currentText = text.slice(0, index);

        h1Element.innerHTML = currentText + cursor;

        if (!isDeleting && index < text.length) {
          index++;
          setTimeout(typeWriter, speed);
        } else if (isDeleting && index > 0) {
          index--;
          setTimeout(typeWriter, speed);
        } else if (!isDeleting && index === text.length) {
          isDeleting = true;
          setTimeout(typeWriter, delayBetweenLoops);
        } else if (isDeleting && index === 0) {
          isDeleting = false;
          setTimeout(typeWriter, speed);
        }
      }

      typeWriter();
    });
  </script>
<div class="container mx-auto p-10 bg-gradient-to-r from-gray-950 to-black w-full">
    <div class="flex flex-col items-center md:flex-row md:justify-between space-y-6 md:space-y-0">
      <h1 id="typing-text" class="text-white text-center md:text-left text-4xl font-bold md:max-w-lg leading-snug">
        <!-- Scriptnya bakal kasih text y -->
      </h1>
      <img src="/Chio.jpg" alt="my image" class="rounded-lg shadow-lg shadow-blue-600/70 md:w-1/3 w-full">
    </div>
  </div>