<div class="container mx-auto mt-10 p-6 text-white">
    <div class="class text-center sm:text-left">
        <h1 class="text-5xl relative inline-block underline decoration-slate-700">Profile</h1>
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0">
        <p class="text-lg md:text-xl font-light md:max-w-2xl text-center md:text-left leading-relaxed indent-2">
            Hello, my name is Sachio Ramzy Zahran. 
            I'm currently a 12th grader in one of Indonesia's vocational high schools, 
            majoring in IT so I can learn more about website development.
            I'm really interested in becoming a Front-end developer. I'm not very familiar with
            back-end development at the moment. I'm also interested in criminology and
            would like to become a criminal rehabilitator.
        </p>
        <img src="/kebab.jpg" alt="kebab" class="rounded-lg shadow-lg w-40 md:w-60">
    </div>
    <button class="bg-white text-black p-2 rounded-2xl hover:bg-black hover:text-white transition-all duration-250 ease-in-out"><a href="CV.pdf" download>Download my CV</a></button>        
</div>
    