---
import { Icon } from "astro-icon/components";
---

<div class="container mx-auto mt-10 p-6 text-white">
    <div class="text-center sm:text-left">
        <h1 class="text-5xl relative inline-block underline decoration-slate-700">Skills</h1>
    </div>
    <p class="text-lg md:text-xl font-light text-center md:text-left leading-relaxed indent-2 m-2">
        From Vue to Astro, these are the technologies fueling my journey as a front-end developer.
    </p> 
    <div class="grid grid-cols-2 sm:flex sm:flex-row sm:justify-center gap-6 m-4">
        <div class="card flex flex-col items-center text-center bg-neutral-950 rounded-xl p-2 sm:p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
            <Icon name="logos/html" size="100" class="sm:size-[150px]" />
            <p class="text-sm sm:text-base mt-2">HTML</p>
        </div>
        <div class="card flex flex-col items-center text-center bg-neutral-950 rounded-xl p-2 sm:p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
            <Icon name="logos/css" size="100" class="sm:size-[150px]" />
            <p class="text-sm sm:text-base mt-2">CSS</p>
        </div>
        <div class="card flex flex-col items-center text-center bg-neutral-950 rounded-xl p-2 sm:p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
            <Icon name="logos/vue" size="100" class="sm:size-[150px]" />
            <p class="text-sm sm:text-base mt-2">Vue</p>
        </div>
        <div class="card flex flex-col items-center text-center bg-neutral-950 rounded-xl p-2 sm:p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
            <Icon name="logos/astro" size="100" class="sm:size-[150px]" />
            <p class="text-sm sm:text-base mt-2">Astro</p>
        </div>  
        <div class="card flex flex-col items-center text-center bg-neutral-950 rounded-xl p-2 sm:p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
            <Icon name="logos/tailwind" size="100" class="sm:size-[150px]" />
            <p class="text-sm sm:text-base mt-2">Tailwind</p>
        </div>
    </div>
</div>
