---
import { Icon } from "astro-icon/components";
---

<div class="bg-black text-center py-8">
  <div class="container mx-auto">
    <p>&copy; adreon 2024</p>
    <div class="social-media flex justify-center items-center gap-6 mt-4">
      <a href="https://github.com/Adreon19" target="_blank" rel="noopener noreferrer">
        <Icon name="mdi:github" size="50" class="hover:text-black hover:bg-white rounded-full p-2 transition-all duration-300" />
      </a>
      <a href="https://instagram.com/Adreon__" target="_blank" rel="noopener noreferrer">
        <Icon name="mdi:instagram" size="50" class="hover:text-black hover:bg-white rounded-full p-2 transition-all duration-300" />
      </a>
    </div>
  </div>
</div>
