---
import BaseLayout from "../Layouts/BaseLayout.astro"
import Home from "../components/Sections/home.astro"
import Self from "../components/Sections/self.astro"
import Skills from "../components/Sections/skills.astro"
import Blog from "./blog.astro"
import Contact from "../components/Sections/Contact.astro"
---

<BaseLayout title="Home">
  <section id="home"><Home /></section>
  <section id="profile"><Self /></section>
  <section id="skills"><Skills /></section>
  <section id="blog"><Blog /></section>
  <section id="contact"> <Contact /></section>
</BaseLayout>
<script>
  const sections = document.querySelectorAll('section');

  window.addEventListener('scroll', () => {
    let currentSection = '';

    sections.forEach(section => {
      const sectionRect = section.getBoundingClientRect();
      if (sectionRect.top <= 0 && sectionRect.bottom >= 0) {
        currentSection = section.getAttribute('id');
      }
    });
  });
</script>
