<div class="container mx-auto mt-10 p-6 rounded-lg shadow-lg text-white">
    <div class="class text-center sm:text-left">
        <h1 class="text-5xl relative inline-block underline decoration-slate-700">Projects</h1>
    </div>
    <p class="text-lg md:text-xl font-light text-center md:text-left leading-relaxed indent-2 m-2">
      Explore the projects I’ve been working on, all open-sourced on GitHub.
    </p>
    <div class="container grid grid-cols-1 md:grid-cols-3 gap-6 items-center m-2">
        <a href="https://github.com/Adreon19/Universitas-Indonesia-Remastered" target="_blank" class="card block max-w-xs mx-auto text-center bg-neutral-950 rounded-xl font-bold shadow-md transform transition-transform duration-300 hover:scale-110">
         <img src="/Univ.png" alt="Simak UI Remastered Repo" class="rounded-tl-xl rounded-tr-xl object-cover">
         <p class="text-sm">my version of Simak Universitas Indonesia</p>
         <p class="font-thin p-1">I recreate Simak UI's home page and a few pages using Astro and Vuejs</p>
     </a>
        
        <a href="https://github.com/Adreon19/CSharp-Calculator" target="_blank" rel="noopener noreferrer" class="card block max-w-xs mx-auto text-center bg-neutral-950 rounded-xl font-bold shadow-md transform transition-transform duration-300 hover:scale-110">
            <img src="/Calc.png" alt="C# Calculator" class="w-full h-48 rounded-tl-xl rounded-tr-xl object-cover">
            <p class="text-sm">C# Calculator</p>
            <p class="font-thin p-1">A calculator made by using C# for my first school project</p>
        </a>

        
        <a href="https://github.com/Adreon19/web-portofolio" target="_blank" class="card block max-w-xs mx-auto text-center bg-neutral-950 rounded-xl font-bold shadow-md transform transition-transform duration-300 hover:scale-110">
            <img src="/OldPorto.png" alt="My old Portfolio" class="w-full h-48 rounded-tl-xl rounded-tr-xl object-cover">
            <p class="text-sm">My old Portfolio</p>
            <p class="font-thin p-1">My old portfolio when I barely knew anything about front-end</p>
        </a>
        
        <a href="https://github.com/ravabasya06/fe_spbu" target="_blank" class="card block max-w-xs mx-auto text-center bg-neutral-950 rounded-xl font-bold shadow-md transform transition-transform duration-300 hover:scale-110">
            <img src="/Pertamina.jpg" alt="Dashboard Pertamina Website" class="w-full h-48 rounded-tl-xl rounded-tr-xl object-cover">
            <p class="text-sm">Dashboard Pertamina Website </p>
            <p class="font-thin p-1">First task in PT. Estrada as a volunteer</p>
        </a>
        
        <a href="https://github.com/ravabasya06/movie-cluster" target="_blank" class="card block max-w-xs mx-auto text-center bg-neutral-950 rounded-xl font-bold shadow-md transform transition-transform duration-300 hover:scale-110">
            <img src="/MovClus.jpg" alt="Movie Cluster Website" class="w-full h-48 rounded-tl-xl rounded-tr-xl object-cover">
            <p class="text-sm">Movie Cluster Website </p>
            <p class="font-thin p-1">A project web with my friend to test movie API</p>
        </a>
    </div>
</div>
