--- 
import { Icon } from "astro-icon/components" 
---

<div class="container mx-auto mt-10 p-6 rounded-lg shadow-lg text-white">
    <div class="class text-center sm:text-left">
        <h1 class="text-5xl relative inline-block underline decoration-slate-700">Skills</h1>
    </div>
    <p class="text-lg md:text-xl font-light text-center md:text-left leading-relaxed indent-2 m-2">
        From Vue to Astro, these are the technologies fueling my journey as a front-end developer.
    </p> 
        <div class="flex flex-col md:flex-row justify-between items-center m-4 space-y-6 md:space-y-0">
            <div class="card items-center text-center bg-neutral-950 rounded-xl p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
                <Icon name="logos/html" size="150" />
                <p>HTML</p>
            </div>
            <div class="card items-center text-center bg-neutral-950 rounded-xl p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
                <Icon name="logos/css" size="150" />
                <p>CSS</p>
            </div>
            <div class="card items-center text-center bg-neutral-950 rounded-xl p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
                <Icon name="logos/vue" size="150" />
                <p>Vue</p>
            </div>
            <div class="card items-center text-center bg-neutral-950 rounded-xl p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
                <Icon name="logos/astro" size="150"/>
                <p>Astro</p>
            </div>  
            <div class="card items-center text-center bg-neutral-950 rounded-xl p-3 font-bold shadow-md shadow-blue-600/85 hover:shadow-red-600 hover:shadow-xl">
                <Icon name="logos/tailwind" size="150" />
                <p>TailWind</p>
            </div>
        </div>
</div>


